<h1>ROCK! PAPER! SCISSORS!</h1>
<h2><%= @player_name %>! Rock, Paper, or Scissors?</h2>
<div class='buttons'>
  <form>
    <input type="submit" value="Rock">
  </form>

  <form>
    <input type="submit" value="Paper">
  </form>

  <form>
    <input type="submit" value="Scissors">
  </form>
</div>